@import "./reset.css";
@import "./foundation.css";
@import "./Button.css";
@import "./InputBox.css";
@import "./Frame.css";
@import "./Board.css";
@import "./post.css";

* {
    font-family: "Pretendard Variable";
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2.5rem;
}

span {
    font: var(--font-bold-s);
    color: var(--color-black);
}

a {
    font: var(--font-bold-s);
    color: var(--color-primary);
    text-decoration: none;
}

.signup-info {
    text-align: center;
}

#main-information {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: var(--color-primary);
    padding: 2.5rem;
    align-items: start;
}

#main-information h1 {
    font: var(--font-body-r);
    color: var(--color-gray-100);
}

#main-information h2 {
    font: var(--font-display-r);
    color: var(--color-white);
}