#post-title {
    margin: auto;
    width: 42.5rem;
    height: min-content;
    text-align: start;
}

#write-title {
    margin: auto;
    width: 42.5rem;
    min-height: 4rem;
}

#write-content {
    margin: auto;
    width: 42.5rem;
    height: 50rem;
}

.post-info {
    margin: auto;
    padding: 1rem 0 1rem 0;
    width: 42.5rem;
    display: flex;
    justify-content: start;
    gap: 2rem;
    align-items: center;
    border-top: 1px solid var(--color-gray-100);
    border-bottom: 1px solid var(--color-gray-100);
}

.post-info span {
    font: var(--font-bold-s);
    color: var(--color-gray-200);
}

.post-content {
    margin: auto;
    width: 42.5rem;
    font: var(--font-body-r);
    color: var(--color-black);
}

.post-navigation {
    margin: auto;
    width: 42.5rem;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#post-write-navigation {
    justify-content: end;
}