#post-title {
    margin: auto;
    width: 42.5rem;
    height: min-content;
    text-align: start;
}

#write-title {
    margin: auto;
    width: 42.5rem;
    min-height: 4rem;
}

#write-content {
    margin: auto;
    width: 42.5rem;
    height: 50rem;
}

.post-navigation {
    margin: auto;
    width: 42.5rem;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#post-write-navigation {
    justify-content: end;
}